# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
project/project/
project/target/
target
.scalafmt.conf
deployment.groovy
jenkins-stages.groovy
.bloop/
.bsp/
.metals/
.vscode/
project/.bloop/
project/metals.sbt
